* {
  font-family: 'Karla', sans-serif;
  color: #444452;
}

h2.heading {
  color: #007FFF;
  font-size: 1.75em;
  font-weight: bold;
}

h3.heading {
  font-weight: bold;
}

h4.heading {
  font-size: 1em;
}

img {
  border-radius: 2px;
}

/* Header */
.header p {
  font-weight: medium;
  font-size: 2em;
}

.wave-emoji {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: bold;
}

.typed-strings {
  color: #007FFF;
}

/* About */
.about-link {
  color:#444452;
  text-decoration-color: #68B4FF;
  text-decoration-thickness: 2px;
}

.about-link:hover {
  color: black;
}


/* Projects */
.image {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  color: white;
  font-weight: bold;
}

.image__description {
  color: white;
  text-align: center;
}

.image__tools {
  color: white;
  text-align: center;
  padding: 5px;
  border: 1.5px solid white;
  border-radius: 15px;
}

/* Experience */
.timeframe {
  font-weight: bold;
}

.company-name {
  text-decoration: none;
}


