* {
  font-family: 'Karla', sans-serif;
  color: #444452;
}

h2.heading {
  color: #007FFF;
  font-size: 1.75em;
  font-weight: bold;
}

/* Header */
.header p {
  font-weight: medium;
  font-size: 2em;
}

.wave-emoji {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: bold;
}

.typed-strings {
  color: #007FFF;
}

/* About */
.about-link {
  color:#444452;
  text-decoration-color: #68B4FF;
  text-decoration-thickness: 2px;
}

.about-link:hover {
  color: black;
}

