:root {
  --background: #f4f4f4;
  --text-color: #444452;
  --nav-hover: #004080;
  --text-hover: black;
  --box-shadow: rgba(15, 15, 15, 0.13);
}

[data-theme='dark'] {
  --background: #171C28;
  --text-color:#f4f4f4;
  --nav-hover: #68B4FF;
  --text-hover: #cbd1d7;
  --box-shadow: #25304d;
}

* {
  font-family: 'Karla', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background: var(--background);
}

li.nav-links {
  background: var(--background);
}

p {
  font-size: 1.05em;
}

h1.heading {
  font-size: 1.05em;
  font-weight: bold;
}

h2.heading {
  color: #007FFF;
  font-size: 1.6em;
  font-weight: bold;
}

h3.heading {
  font-weight: bold;
  font-size: 1.45em;
}

h4.heading {
  font-size: 1.1em;
  font-weight: 400;
}

div.card {
  background-color: transparent;
}

img {
  border-radius: 4px;
}

.margin-top {
  margin-top: 115px;
}

.fade-in {
  opacity: 0;
  transition: opacity 
}

/* Navbar */

.nav-toggle {
  list-style: none;
  padding-left: 22px;
}

.NavbarItems {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 7px var(--box-shadow);
  padding: 0 1.5em;
}


.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
  font-weight: bold;
  color:#007FFF;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: end;
  flex: auto;
  align-items: center;
}

.nav-links {
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  padding-left: 22px;
  list-style: none;
  display: flex;
}

.link{
  text-decoration: none;
  color:#007FFF;
  font-size: 1em;
  transition: all 220ms ease-in-out;
}

.link:hover {
  color: var(--nav-hover);
}

.nav-icon:hover {
  color: var(--nav-hover);
}


.fa-bars {
  color:#007FFF;
  cursor: pointer;
}

.fa-times {
  color:#007FFF;
  cursor: pointer;
}

.nav-icon {
  color:#007FFF;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 70px;
    opacity: 0;
  }

  .nav-menu.active {
    padding-top: 12px;
    padding-bottom: 14px;
    margin-right: 20px;
    border-radius: 8px;
    right: 0;
    opacity: 1;
    z-index: 1;
    box-shadow: 0 0px 10px rgba(15, 15, 15, 0.13);
    transition: all 0.5s ease;
    height: fit-content;
    display: flex;
  }

  .nav-links {
    text-align: center;
    display: table;
    padding-left: 0;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-links.resume {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .nav-toggle {
    padding-left:0;
    margin-top: 6px;
    margin-bottom: 4px;
    display: flex;
  }

  .nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
  }

  .menu-icon {
    display: inline-flex;
    justify-content: end;
    flex: auto;
  }

}

/* Header */

.header p {
  font-weight: medium;
  font-size: 2em;
}

.wave-emoji {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: bold;
}

.typed-strings {
  color: #007FFF;
}

/* About */

.about-link {
  color: var(--text-color);
  text-decoration-color: #68B4FF;
  text-decoration-thickness: 2px;
}

.about-link:hover {
  color: var(--text-hover);
}

.vianne {
  object-fit: contain;
  width: 100%;
  height: auto;
}


/* Projects */
.image {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1vw;
}

@media (max-width: 768px){
    .image__overlay {
      font-size: 2vw;
    }
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
  background-color: transparent;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  color: white;
  font-weight: bold;
}

.image__description {
  color: white;
  text-align: center;
}

.image__tools {
  color: white;
  text-align: center;
  padding: 3px;
  border: 1.5px solid white;
  border-radius: 15px;
  background-color: transparent;
}

/* Experience */
.company-name {
  text-decoration: none;
}


/* Skills */
.lang-list {
  list-style: none;
}

/* Toggle */
.toggle {
  height: 25px;
  width: 50px;
  border-radius: 25px;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}

.notch > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4) inset;
  opacity: 0;
}

.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 1px;
  top: 4.5px;
  height: 3px;
  width: 9px;
  transform: rotate(-45deg);
}

.crater:last-child {
  right: 2px;
  top: 4.5px;
  height: 3px;
  width: 6px;
  transform: rotate(45deg);
}

.night > .notch {
  background-color: whitesmoke;
  box-shadow: 0 0 2px whitesmoke;
  transform: translate(25px, 0);
}

.notch {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 2px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.shape.sm {
  height: 2px;
  width: 12px;
  top: 50%;
  left: 60%;
}

.shape.md {
  height: 3px;
  width: 18px;
  top: 25%;
  left: 25%;
  z-index: 1;
}

.shape.lg {
  height: 4px;
  width: 24px;
  bottom: 5px;
  left: 25%;
}
.night .shape {
  background: lightgray;
  box-shadow: 0 0 3px 0.5px violet;
}

.night .shape.sm {
  height: 2px;
  width: 2px;
  transform: translate(-10px, 0);
}

.night .shape.sm:first-of-type {
  transform: translate(-20px, -3px);
}

.night .shape.md {
  height: 3px;
  width: 3px;
  transform: translate(3px, 0);
}

.night .shape.lg {
  height: 4px;
  width: 4px;
  transform: translate(-3px, 0);
}

/* Footer */
.heart-emoji {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}

.woman-emoji {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}



