* {
  font-family: 'Karla', sans-serif;
  color: #444452;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


p {
  font-size: 1.05em;
}

h1.heading {
  font-size: 1.05em;
  font-weight: bold;
}

h2.heading {
  color: #007FFF;
  font-size: 1.6em;
  font-weight: bold;
}

h3.heading {
  font-weight: bold;
  font-size: 1.45em;
}

h4.heading {
  font-size: 1.1em;
}

img {
  border-radius: 2px;
}

.margin-top {
  margin-top: 115px;
}

.fade-in {
  opacity: 0;
  transition: opacity 
}

/* Navbar */
.NavbarItems {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
  padding: 0 1.5em;
}


.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
  font-weight: bold;
  color:#007FFF;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: end;
  flex: auto;
}

.nav-links {
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  padding-left: 22px;
  list-style: none;
  display: flex;
}

.link{
  text-decoration: none;
  color:#007FFF;
  font-size: 1em;
  transition: all 220ms ease-in-out;
}

.link:hover {
  color: #004080;
}

.nav-icon:hover {
  color: #004080;
}


.fa-bars {
  color:#007FFF;
}

.fa-times {
  color:#007FFF;
}

.nav-icon {
  color:#007FFF;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 175px;
    position: absolute;
    top: 70px;
    opacity: 0;
  }

  .nav-menu.active {
    background: #D1E8FF;
    padding-top: 12px;
    border-radius: 5px;
    margin-right: 20px;
    right: 0;
    opacity: 1;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    display: table;
    padding-left: 0;
  }

  .nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
  }

  .menu-icon {
    display: inline-flex;
    justify-content: end;
    flex: auto;
  }


}

/* Header */

.header p {
  font-weight: medium;
  font-size: 2em;
}

.wave-emoji {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: bold;
}

.typed-strings {
  color: #007FFF;
}

/* About */
.about-link {
  color:#444452;
  text-decoration-color: #68B4FF;
  text-decoration-thickness: 2px;
}

.about-link:hover {
  color: black;
}


/* Projects */
.image {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1vw;
}

@media (max-width: 768px){
    .image__overlay {
      font-size: 2vw;
    }
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
  background-color: transparent;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  color: white;
  font-weight: bold;
}

.image__description {
  color: white;
  text-align: center;
}

.image__tools {
  color: white;
  text-align: center;
  padding: 3px;
  border: 1.5px solid white;
  border-radius: 15px;
  background-color: transparent;
}

/* Experience */
.company-name {
  text-decoration: none;
}


/* Skills */
.lang-list {
  list-style: none;
}

/* Footer */
.heart-emoji {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}

.woman-emoji {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}

